<p style="color: green"><%= notice %></p>

<%= render @moeda %>

<div>
  <%= link_to t('links.edit'), edit_moeda_path(@moeda) %> |
  <%= link_to "Voltar à tela inicial", moedas_path %>

  <%= button_to t('links.delete'), @moeda, method: :delete %>
</div>
