<p style="color: green"><%= notice %></p>

<%= render @moeda %>

<div>
  <%= link_to "Editar essa moeda", edit_moeda_path(@moeda) %> |
  <%= link_to "Voltar à tela inicial", moedas_path %>

  <%= button_to "Excluir essa moeda", @moeda, method: :delete %>
</div>
